spring:
  application:
    name: ms-books-catalogue
  datasource:
    url: jdbc:h2:mem:testdb;Mode=MySQL
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

server:
  port: ${PORT:8089}
  fullAddress: ${HOST:http://localhost}:${PORT:${server.port}}

##Eureka config
eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: ${HOSTNAME:localhost}

##OpenSearch config
opensearch:
  host: ${OPENSEARCH_HOST}
  credentials:
    user: ${OPENSEARCH_USER}
    password: ${OPENSEARCH_PASS}
logging:
  level:
    tracer: TRACE